header.main-header
    a(href='/').logo
        span.logo-mini
            <b>FR</b> 
        span.logo-lg
            <b>FRESH RICE</b>
    nav(role='navigation').navbar.navbar-static-top
        a(href='#', role='button', data-toggle='offcanvas').sidebar-toggle.fa6.sidebar-mini
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.navbar-custom-menu
            ul.nav.navbar-nav
               
                    
                        
                            
                    li.dropdown.user.user-menu
                        a(href='#',data-toggle='dropdown').dropdown-toggle
                            img(src='/adminlte/dist/img/logo.jpg',alt='UserImage').user-image
                            span.hidden-xs
                                | Admin
                        ul.dropdown-menu
                            li.user-header
                                img(src='/adminlte/dist/img/logo.jpg',alt='UserImage').img-circle
                                pa
                                    | Admin FreshRice 

                                    .pull-right 
                                        a(href='/logout').btn.btn-default.btn-flat
                                            |Log Out
                           