aside.main-sidebar
    section.sidebar
        .user-panel
            .pull-left.image
                img(src='/adminlte/dist/img/logo.jpg',alt='User Image').img-align-left.img-circle
            .pull-left.info
                p Admin
                a(href='#')
                    i.fa.fa-globe-europe.text-success
                    | Online
        form(action='#',method='get').sidebar-form
            
        ul.sidebar-menu
            li.header
                | Main Navigation
            li.treeview
                a(href='#')
                   